html {
    background: slateblue
}

body {
    background: lightcoral
}

div.container {
    color: rgb(68, 14, 14)
}

.jumbotron {
    background: lightgreen
}

.auth-img {
    float: right;
    margin: 0 0 0 15px
}
